---
// Footer: Assertive left-aligned footer with maroon block
---
<footer class="site-footer">
  <div class="rule-heavy" role="presentation"></div>
  <div class="footer-inner">
    <div class="footer-left">
      <div class="footer-mark">∃∀</div>
      <p class="footer-motto"><em>there exists, a for all</em></p>
    </div>
    <div class="footer-right">
      <nav class="footer-nav">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="https://onethousandmeans.substack.com">Blog</a>
      </nav>
      <p class="footer-copyright">
        &copy; {new Date().getFullYear()} onethousandm∃∀ns
      </p>
    </div>
  </div>
</footer>
